@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/js/signalr-client.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <button type="button" class="btn btn-primary">
                Connected Client Count <span id="spanConnectedClientCount" class="badge text-bg-secondary">0</span>
            </button>
            
            <button id="btnSendMessageAllClient">Tüm Clientlara Gönder</button>
            <button id="btnSendMessageCallerClient">İstek Yapan Client'a Gönder</button>
            <br/>
            <br/>
            
            <div id="divAllClientMessages"></div>
            <div id="divCallerClientMessages"></div>
        </div>
    </div>
</div>